.container {
  height: 10vh;
  background-color: gainsboro;
  display: flex;
  justify-content: space-between;
  padding: 0px 7%;
  align-items: center;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.pages {
  display: flex;
  justify-content: space-evenly;
  /* background-color: green; */
  width: 30%;
}

.active {
  font-size: 26px;
  color: black;
  text-decoration: none;
}

.unActive {
  font-size: 23px;
  color: darkgray;
  text-decoration: none;
}
