.postCard {
    min-height: 260px;
    width: 20%;
    background-color:yellow;
    border-radius: 20px;
    padding: 10px 5px;
    text-align: center;
    /* color: white; */
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.6s;
  }
  
  .postCard:hover {
    scale: 1.1;
  }